@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>
<body>
    <div class='conteiner'>
        <div class='row'>
            <div class='col-md-4 offset-4'>
                <h2 class="text-center">
                    Login
                </h2>
                <form method="post" action="/Login/Auth">
                    <div class="form-group">

                    </div>
                </form>
            </div>
        </div>
    </div>    
</body>
</html>