*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../Images/Background.jpg');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;

    animation: zoomBackground 8s infinite alternate ease-in-out;
}

body::before {
    content: '';
    inset:0;
    background: linear-gradient(45deg,rgba(0, 80, 40, 0.6),rgba(0, 180, 90, 0.5));
    position: fixed;
    animation: moveBackground 30s infinite alternate ease-in-out;
    pointer-events: none;
}

@keyframes zoomBackground {
    from {
        background-size: 120%;
    }

    to {
        background-size: 135%;
    }
}

@keyframes moveBackground {
    from {
        background-position: left center;
    }

    to {
        background-position: right center;
    }
}

.conteiner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: auto;
    min-width: 450px;
    background: rgba(250,250,250,0.6);
    padding: 20px;
    border-radius: 10px;
}

.login-content{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.conteiner-foto{
    width: 150px;
    height: 200px;
    background-image:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.1)),url("../Images/FotoCover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-shrink: 0;
}

.input-camp{
    height: 31px;
    width: 250px;
    border-radius: 10px;

    background-color: #eef2ef;
    border: 1px solid #c8d4cc;

    transition: all 0.25s ease;
}

.input-camp:focus{
    outline: none;

    background-color: #f8fbf8;
    border-color: #4caf50;

    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.15);
}